$list-item-icon-s : 15px;
$list-item-icon-mr : 10px;

.list__item {
  margin-bottom: 0.5rem;

  padding-left: 20px;
  text-indent: -1 * ($list-item-icon-s + $list-item-icon-mr);

  line-height: 1.5;
}

// Modifiers

.list__item {


  &--checked {
    position: relative;

    &:before {
      content: '';

      display: inline-block;
      vertical-align: middle;
      size: $list-item-icon-s;
      margin-right: $list-item-icon-mr;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%230275d8' viewBox='0 0 60 60'%3E%3Cpath d='M30 0C13.5 0 0 13.5 0 30s13.5 30 30 30 30-13.5 30-30S46.5 0 30 0zM30 57.1C15 57.1 2.9 45 2.9 30S15 2.9 30 2.9 57.1 15 57.1 30 45 57.1 30 57.1z'/%3E%3Cpath d='M44.7 19l-19 19L15.3 27.6c-0.6-0.6-1.5-0.6-2 0 -0.6 0.6-0.6 1.5 0 2L24.7 41c0.3 0.3 0.6 0.4 1 0.4s0.7-0.1 1-0.4l20-20c0.6-0.6 0.6-1.5 0-2C46.2 18.4 45.3 18.4 44.7 19z'/%3E%3C/svg%3E");
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }

}