.button {
  display: inline-block;
  padding: 8px 16px;

  font-weight: 500;
  text-transform: uppercase;
  color: var(--btn-color);

  background-color: var(--btn-bgc);
  border:  none;
  border-radius: 3px;
  outline: none;

  transition: background-color 0.2s;

  &:hover,
  &:focus {
    background-color: var(--btn-bgc-h);
  }
}
