.feedback {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: px-to-rem(20px);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    display: block;

    size : px-to-rem(35px);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f7f7f7' viewBox='0 0 60 60'%3E%3Cpath d='M37.7 26.4V2.3H60v19.1c0 10.3-1.3 17.8-3.7 22.4 -3.2 6.2-8.3 10.8-15.3 14l-5.1-8.1c4.3-1.8 7.4-4.4 9.4-7.9 2-3.5 3.1-8.6 3.3-15.3H37.7zM1.9 26.4V2.3h22.3v19.1c0 10.3-1.3 17.8-3.7 22.4 -3.2 6.2-8.3 10.8-15.3 14L0 49.6c4.3-1.7 7.4-4.4 9.4-7.9s3.1-8.6 3.3-15.3H1.9z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;

    transform: translateX(-80%);
  }
}