.countdown-timer(data-start='', data-end='2020-09-20 05:59:59')
    span.countdown-timer__value.countdown-timer__value-days 00
    span.countdown-timer__value.countdown-timer__value-hours 00
    span.countdown-timer__value.countdown-timer__value-minutes 00
    span.countdown-timer__value.countdown-timer__value-seconds 00