@font-face {
  font-family: '<%= fontName %>';
  font-style: normal;
  font-weight: normal;
  src: url('<%= fontName %>.eot?<%= fontDate %>');
  src:
    url('<%= fontName %>.eot?#iefix-<%= fontDate %>') format('embedded-opentype'),
    url('<%= fontName %>.woff2?<%= fontDate %>') format('woff2'),
    url('<%= fontName %>.woff?<%= fontDate %>') format('woff'),
    url('<%= fontName %>.ttf?<%= fontDate %>') format('truetype');
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  display: inline-block;
  font-family: '<%= fontName %>' !important;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  speak: none;
}
