@import "functions";

@mixin fluid-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-value(calc(#{$max-font-size} - #{$min-font-size}))} * ((100vw - #{$min-vw}) / #{strip-value($max-vw - $min-vw)}));
      }

      @media (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin icon($name) {
  &::before {
    @extend .icon--#{$name};

    font-family: var(--fontfamily-icon);
  }
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-vw) {
      @each $property in $properties {
        #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
    }

    @media screen and (min-width: $max-vw) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}


@mixin sheet_icon($svg_file, $total_x, $total_y, $pos_x, $pos_y) {
  background-image: url("#{$svg_file}");
  background-repeat: no-repeat;
  background-position: (($pos_x - 1)/($total_x - 1) * 100%) (($pos_y - 1)/($total_y - 1) * 100%);
  -webkit-background-size: ($total_x * 100%) ($total_y * 100%);
  background-size: ($total_x * 100%) ($total_y * 100%);
}

$sizes : (
  'small' : 576,
  'medium' : 768,
  'large' : 992,
  'huge'  : 1200,
  'x-huge'  : 1400,
);

@mixin _media($size) {
  $error : true;

  @each $sz, $px in $sizes {
    @if (str-index($size, $sz)) {
      $error : false;
      $cond : str-slice($size, 1, -1 * str-length($sz) - 1);
      $query : '';

      @if $cond == '>' {
        $px : $px + 1;
        $query : 'min-width';
      }

      @else if $cond == '>=' {
        $query : 'min-width';
      }

      @else if $cond  == '<' {
        $px : $px - 1;
        $query : 'max-width';
      }

      @else if $cond == '<=' {
        $query : 'max-width';
      }

      @else {
        @error 'Wrong condition';
      }

      @media screen and (#{$query}: #{$px}px) {
        @content;
      }
    }
  }

  @if $error {
    @error 'Wrong size';
  }
}

// Mixins FOR Screen Sizes
@mixin custom-screen-width-min($winW) {
  @media (min-width: #{$winW}) {
    @content;
  }
}

@mixin custom-screen-width-max($winW) {
  @media (max-width: #{$winW}) {
    @content;
  }
}

@mixin custom-screen-width-min-max($minW, $maxW) {
  @media (min-width: #{$minW}) and (max-width: #{$maxW}) {
    @content;
  }
}

$xs_screen_320_min: 320;
$xs_screen_320_max: 479;

$xs_screen_480_min : 480;
$xs_screen_480_max : 575;

$sm_screen_min : 576;
$sm_screen_max : 767;

$md_screen_min : 768;
$md_screen_max : 991;

$lg_screen_min : 992;
$lg_screen_max : 1199;

$xl_screen_min : 1200;
$xl_screen_max : 1699;

$xxl_screen_min : 1700;
$xxl_screen_max : 2560;


@mixin media ($media) {

}

@mixin only-large-screen {
  @media (min-width: $xs_screen_320_min + px) and (max-width: $xs_screen_320_max + px) { @content; }
}


@mixin xsmall-screen-320 {
  @media (min-width: $xs_screen_320_min + px) and (max-width: $xs_screen_320_max + px) { @content; }
}

@mixin xsmall-screen-480 {
  @media (min-width: $xs_screen_480_min + px) and (max-width: $xs_screen_480_max + px) { @content; }
}


@mixin small-screen {
  @media (min-width: $sm_screen_min + px) and (max-width: $sm_screen_max + px) { @content; }
}

@mixin medium-screen {
  @media (min-width: $md_screen_min + px) and (max-width: $md_screen_max + px) { @content; }
}

@mixin large-screen {
  @media (min-width: $lg_screen_min + px) and (max-width: $lg_screen_max + px) { @content; }
}

@mixin xlarge-screen {
  @media (min-width: $xl_screen_min + px) and (max-width: $xl_screen_max + px) { @content; }
}

@mixin xxlarge-screen {
  @media (min-width: $xxl_screen_min + px) and (max-width: $xxl_screen_max + px) { @content; }
}


//----------------------
// MIN
//----------------------

@mixin xsmall-screen-320-min {
  @media (min-width: $xs_screen_320_min + px) { @content; }
}

@mixin xsmall-screen-480-min {
  @media (min-width: $xs_screen_480_min + px) { @content; }
}

@mixin small-screen-min {
  @media (min-width: $sm_screen_min + px) { @content; }
}

@mixin medium-screen-min {
  @media (min-width: $md_screen_min + px) { @content; }
}

@mixin large-screen-min {
  @media (min-width: $lg_screen_min + px) { @content; }
}

@mixin xlarge-screen-min {
  @media (min-width: $xl_screen_min + px) { @content; }
}

@mixin xxlarge-screen-min {
  @media (min-width: $xxl_screen_min + px) { @content; }
}

//-------------------
// MAX
//---------------------

@mixin xxlarge-screen-max {
  @media (max-width: $xxl_screen_max + px) { @content; }
}

@mixin xlarge-screen-max {
  @media (max-width: $xl_screen_max + px) { @content; }
}

@mixin large-screen-max {
  @media (max-width: $lg_screen_max + px) { @content; }
}

@mixin medium-screen-max {
  @media (max-width: $md_screen_max + px) { @content; }
}

@mixin small-screen-max {
  @media (max-width: $sm_screen_max + px) { @content; }
}

@mixin xsmall-screen-480-max {
  @media (max-width: $xs_screen_480_max + px) { @content; }
}

@mixin xsmall-screen-320-max {
  @media (max-width: $xs_screen_320_max + px) { @content; }
}

