.text {
  color: var(--secondary-font-color);
  font-size: 14px / 1.5;
}

// Modifiers

.text {
  &--center {
    text-align: center;
  }

  &--bg-danger {
    background-color: var(--danger-color);
    color: inherit;
  }

  &--bg-warning {
    background-color: var(--warning-color);
    color: inherit;
  }
}