- var items = [{icon: 'lock', title: 'Безопасность - это главное', description: 'Знать, что кошелек безопасен, очень важно, и этот вопрос нельзя игнорировать. вы всегда должны проверять, какой протокол используется на сайте. Также, стоит узнать, используется ли двухфакторная система авторизации для доступа к вашему кошельку. Это только некоторые важные моменты.'},{icon: 'hierarchy', title: 'Партнерские программы', description: 'Важно знать, что партнерские, программы не только выгодны и прибильны, но и максимально прозрачны. Возможность получения в любой момент актуальной статистики и полный список ваших рефералов в. личном кабинете. Все правила реферальной программы должны быть  доступны и максимально понятными.'},{icon: 'medal', title: 'Авторитетность и доверие', description: 'Не рекомендуется выбирать электронный кошелек, который только недавно создан. За годы работы компания обязана заслужить, репутацию безопасного сервиса для хранения цифровых денег. Важно ознакомиться также с отзывами и независимыми обзорами о выбранном электронном кошельке.'},{icon: 'percent', title: 'Комиссия за вывод', description: 'Перед тем, как открыть электронный кошелек, и начать его использование, обязательно прочтите все правила, прописанные в договоре-оферте. Даже. если за возможность использования услуг сервиса вам платить не придется, то чтобы вывести деньги на карту банка, комиссию внести придется в любом случае.'},{icon: '24', title: 'Обратная связь', description: 'Как будущему клиенту сервиса, важно знать о моментах работы службы поддержки. Главные критерии службы поддержки - скорость ответа, полезность полученного сообщения и, конечно, качество общения. Также обязательно учитываейте какие предоставляются варианты связи с технической поддержкой.'},{icon: 'smartphone', title: 'Легкость использования', description: 'Требуется учитывать насколько просто применять выбранный электронный кошелек. Удобство и функциональность — это один из основных критериев, на который стоит обращать внимание при выборе. Важно, чтобы функционал сервиса был интуитивно понятен и удобен в использовании.'}]

+section('Критерии выбора')(class='section__caption--center')
    .row.u-mb-5
        each item in items
            .col-12.col-md-6.col-lg-4.d-flex.flex-column
                .criterion-card
                    svg.criterion-card__icon
                        use(xlink:href=`dist/assets/images/icons.svg#${item.icon}`)
                    h2.criterion-card__title= item.title
                    p.text= item.description
    +button('Узнать больше')
