- var items = [{text: 'Всего за пару месяцев моя жизнь переменилась полностью, я понял, что для хорошего заработка необязательно много работать, нужно. просто правильно работать. Главное вовремя начать и не бояться!', author: 'Даня Соловьев', duration: '3 месяца с нами'}, {text: 'Я очень долго искала способ быстрого и стабильного заработка в. интернете, ведь сегодняшняя опуация в стране не позволяет найти хорошую работу, с которой хватало бы нажизнь. Сейчас материальных проблем гараздо меньше.', author: 'Анна Банина', duration: '26 месяцев с нами'}, {text: 'Из за постоянных кредитов стал вопрос о дополнительном заработке. К счастью мне предоставили возможность заработать. Научили, объяснили и теперь у меня есть хороший пассивный доход. спасибо.', author: 'Игорь Ткачев', duration: '18 месяцев с нами'}];

+section('Отзывы успешных партнеров')(class='section__caption--center')
    .row.u-mb-4
        each item in items
            .col-12.col-md-4
                blockquote.feedback
                    p.feedback__text= item.text
                    strong.feedback__author= item.author
                    span.feedback__author-duration.text= item.duration
    +button('Стать командой')