section.section.section--blacked.form-section
    .section__content.container
        h2.form-section__caption Остались вопросы?
        p.text.form-section__text Отправьте заявку и наши эксперты бесплатно проконсультируют Вас. Сделайте первый шаг к успешному заработку сейчас!

        form(action='')
            .row.u-mb-3
                .col-12.col-md
                    .input
                        label.input__label.visually-hidden(for='name') Ваше имя
                        input.input__field.input__field--flat(type='text', id='name', name='name', placeholder='Ваше имя')
                .col-12.col-md
                    .input
                        label.input__label.visually-hidden(for='phone') Телефон
                        input.input__field.input__field--flat(type='text', id='phone', name='phone', placeholder='Телефон')
                .col-12.col-md
                    .input
                        label.input__label.visually-hidden(for='email') Электронная почта
                        input.input__field.input__field--flat(type='email', id='email', name='email', placeholder='Электронная почта')

        .u-text-center
            button.button(type='submit') Отправить