- var items = ['Индивидуальный план обучения', 'Разработка персональной стратегии развития', 'Практические занятия в процессе обучения', 'Профессиональный разбор ошибок и описк решений', 'Рекомендации по увеличению доходности', 'Онлайн-общение с наставником', 'Постоянная поддержка на всех этапах']

section.section.container
    .row
        .d-none.d-lg-block.col-auto.u-w-60
            img(src='dist/assets/images/office.jpg' alt='')
        .col.d-flex.flex-column
            h2.caption.section__caption Персональный наставник
            .section__content.d-flex.flex-column.justify-content-between
                ul.list
                    each item in items
                        li.list__item.list__item--checked= item
                +button('Начать обучение')
