- var items = [{icon : 'account-icon', title : 'Персональный ментор', text : 'Первые 3 месяца каждый партнер работает с персональным ментором и обучается стратегии'},{icon : 'watch-icon', title : 'Пассивный метод', text : 'Стратегия не потребует много премени, достаточно выделять 30 минут в день'},{icon : 'laptop-icon', title : 'Простота и доступность', text : 'Весь рабочий процесс прост и доступен. Все необходимые знания получишь во время обучения'},{icon : 'purse-icon', title : 'Быстрый результат', text : 'Первая прибыль уже через месяц после запуска стратегии'}]

+section('Преимущества стратегии')(class='section__caption--center')
    .strategy-wrapper
        .row
            each item in items
                .col-12.col-sm-6.col-md-3
                    .strategy
                        svg.strategy__icon
                            use(xlink:href=`dist/assets/images/icons.svg#${item.icon}`)
                        h2.strategy__title= item.title
                        p.strategy__text.text= item.text

