section.section.section--blacked.welcome-section
    .section__content.container
        .row.flex-row-reverse.flex-md-row
            .col-12.col-md-5.col-lg-4.order-1.order-md-0
                form.form(action='')
                    h3.caption.caption--center Начните зарабатывать
                    p.text.u-text-center.u-mb-5 Чтобы начать и получить подробную информацию заполните форму

                    .input
                        label.input__label.visually-hidden(for='nam') Ваше имя
                        input.input__field(type='text', id='nam', name='nam', placeholder='Ваше имя')
                    .input.u-mb-4
                        label.input__label.visually-hidden(for='phon') Телефон
                        input.input__field(type='text', id='phon', name='phon', placeholder='Телефон')
                    .u-text-center
                        button.button(type='submit') Начать

            .col-12.col-md-7.col-lg.order-0
                .welcome-block
                    h1.display.display--caption Эффективная стратегия для пассивного дохода
                    p.display.u-mb-4
                        span.text--bg-danger Проверенный и рабочий способ пассивного дохода в интернете.
                    p.display.u-mb-3 Информация в открытом доступе #[span.text--bg-warning временно], не упусти свой шанс.

                    .d-flex.justify-content-center
                        include ../countdown-timer/_countdown-timer