.input__field {
  size: 100% 40px;
  margin-bottom: 15px;
  padding: 12px 8px;

  font-weight: 300;
  color: #666666;

  background-color: transparent;
  border: 1px solid #dddddd;
  border-radius: 0.25rem;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: 0 0 3px #666666;
  }
}

// Modifiers

.input__field {
  &--flat {
    color: #ffffff;

    border-radius: 0;
    border: 1px solid #ffffff;

    &:hover,
    &:focus {
      box-shadow: 0 0 3px #ffffff;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.9);
    }
  }
}