.page {
  position: relative;

  height: 100%;

  font-size: 12px;
  color: var(--primary-font-color);
  line-height: 1.5;

  font-family: var(--font-family);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  @supports (-webkit-overflow-scrolling: touch) {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  @include _media(">=small") {
    font-size: 14px;
  }

  @include _media(">=medium") {
    font-size: 16px;
  }

}

// Scrollbars
.page {
  // -- Firefox
  scrollbar-color: #000000 rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
  // -- end Firefox

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    outline: 1px solid slategrey;
    background-color: #000000;
  }
}
