doctype html
html(lang="ru", class="page")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title Landing
        link(href="dist/assets/css/main.min.css", rel="stylesheet")

    body.page__body
        include mixins/_section
        include mixins/_button

        main(role="main")
            include components/sections/_welcome-section
            include components/sections/_strategy-section
            include components/sections/_mentor-section
            include components/sections/_criterion-section
            include components/sections/_feedback-section
            include components/sections/_form-section

        include components/footer/_footer

    script(src="dist/assets/js/main.min.js")