.section {
  position: relative;

  margin: px-to-rem(90px) $_;

  &:first-of-type {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.section {
  &--blacked {
    padding: 7rem $_;

    color: white;

    &:before {
      content: '';
      position: absolute 0 0 0 0;
      z-index: 0;

      background-color: rgba(0,0,0,0.7);
    }
  }
}

