.section__caption {
  color: #576174;

  &:after {
    content: '';
    display: block;
    width: px-to-rem(75px);
    margin-top: 1em;

    border-bottom: 2px solid #0F7FF6;

  }
}

// Modifiers

.section__caption {
  &--center {
    text-align: center;

    &:after {
      margin-right: auto;
      margin-left: auto;
    }
  }
}