.countdown-timer__value {
  position: relative;

  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: $_ 20px;

  font-size: 2rem / 1.2;

  &:before {
    content: '';
    font-size: 0.75rem;
  }

  & + & {
    &:after{
      content: ':';
      position: absolute;
      top: 5%;
      left: 0;

      line-height: 1;

      transform: translateX(-50%);
    }
  }
}

.countdown-timer__value {
  &-days {
    &:before {
      content: 'days';
    }
  }

  &-hours {
    &:before {
      content: 'hours';
    }
  }

  &-minutes {
    &:before {
      content: 'minutes';
    }
  }

  &-seconds {
    &:before {
      content: 'seconds';
    }
  }
}