.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url('../images/laptop.jpg');
  background-color: rgba(0,0,0,.7);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}